//
   Created by root on 15-2-6.
doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
        link(rel='stylesheet' href='../static/lines.css')
    body
        div#main(align="center")
            img(src="../src/1.png")
            each value in data
                a(href="http://localhost/line?station=#{value.name}-1")
                    div.row
                        div(class="lineNum")
                            div #{value.name}
                        div.info
                            div.station.start #{value.start}
                            div
                                img(src="../src/2.png")
                            div(style="margin-top:20px")
                                img(src="../src/3.png")
                            div.station.end #{value.end}


